@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZARZĄDZAJ BUSAMI</h1>
    <p class="lead">Aplikacja wspomagajaca zarządzanie busami.</p>
    <p></p>
</div>

<div class="row">
    
</div>